/* Import Google Font Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --font-montserrat: 'Montserrat', sans-serif; */
  --font-montserrat: 'Montserrat', 'Open Sans' Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  background-color: black;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to right, rgba(255, 255, 255, .1) 1px, transparent 1px);
  background-size: 79px 79px;
  /* Adjust grid size */
  font-family: var(--font-montserrat);
  /* Áp dụng font cho toàn bộ trang */
}

body::after {
  content: '';
  position: fixed;
  /* Sử dụng fixed để giữ vị trí khi scroll */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  /* background-color: rgb(0, 0, 0); */
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, .75) 50%, rgba(0, 0, 0, 0.00) 100%);
  border-radius: 50%;
  /* Hình tròn, bỏ đi nếu muốn hình vuông */
  /* box-shadow: 0 0 150px rgba(0, 0, 0, 0.); */
  z-index: -10;
  /* Đẩy hình tròn xuống dưới các thành phần khác */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin 15000ms linear infinite;
}

@keyframes arrowFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes arrowMoveInDefault {
  0% {
    opacity: 0;
    transform: translate(16px, -16px) scale(0);
    /* Góc tren ben phai */
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
    /* Trở về vị trí chuẩn */
  }
}

@keyframes arrowMoveInHover {
  0% {
    opacity: 0;
    transform: translate(-16px, 16px) scale(0);
    /* Góc dưới trái */
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
    /* Trở về vị trí chuẩn */
  }
}

@keyframes arrowMoveOutDefault {
  0% { 
    opacity: 1;
    transform: translate(0, 0) scale(1);
    /* Ve vi tri chuan */
  }

  100% {
    opacity: 0;
    transform: translate(16px, -16px) scale(0);
    /* Goc tren ben phai */
  }
}

@keyframes arrowMoveOutHover {
  0% {
    opacity: 1;
    transform: translate(0, 0) ;
    /* Vị trí chuẩn */
  }

  100% {
    opacity: 0; 
    transform: translate(-16px, 16px) scale(0);
    /* Góc dưới trái */
  }
}

.arrow-default {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* animation: arrowFadeOut 0.5s ease-out; */
}

.arrow-hover {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0; */
}

.group:hover .arrow-hover {
  animation: arrowMoveInHover 0.3s ease-out forwards;
}

.group:not(:hover) .arrow-hover {
  animation: arrowMoveOutHover 0.3s ease-in forwards;
}

.group:hover .arrow-default {
  animation: arrowMoveOutDefault 0.3s ease-out forwards;
}

.group:not(:hover) .arrow-default {
  animation: arrowMoveInDefault 0.3s ease-in forwards; 
}

.fading-text {
  position: relative;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap; 
  flex: 1;
}

.fading-text::before,
.fading-text::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px; /* Điều chỉnh độ rộng vùng mờ */
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.fading-text::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.fading-text::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

@keyframes scrollText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes resetScrollText {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.group:hover .scrolling-text {
  transform: translateX(100%);
  animation: scrollText 3s linear infinite;
}

.group:not(:hover) .scrolling-text {
  animation: resetScrollText 0s linear forwards;
}

/* @keyframes scroll-left {
  0% {
      transform: translateX(100%);
  }

  100% {
      transform: translateX(-100%);
  }
} */

/* .scrolling-divider { */
  /* Start off the right edge */
  /* transform: translateX(100%); */
  /* animation: scroll-left; */
/* } */
